bot:
  socks_proxy:
      host:
      username:
      password:
  tor_proxy:
      host:
  lnurl_public_host_name: "https://sats.mobi"
  lnurl_server: "http://satsmobi:5454"
  lnurl_image: true
  admin_api_host: localhost:6060
  username: "@SatsMobiBot"
  name: "sats.mobi"
  botadmin: "telegramuserofadmin"
telegram:  
 message_dispose_duration: 10  
 api_key: "XXXX"  
lnbits:
  url: "https://seven.gwoq.com"
  admin_key: "XXXX"
  admin_id: "XXXX"
  webhook_call: "http://IP:5588"
  webhook_server: "http://satsmobi:5588"
  lnbits_public_url: "https://lnbitspublicurl/"
database:  
 db_path: "data/bot.db"  
 buntdb_path: "data/bunt.db"  
 transactions_path: "data/transactions.db"  
 shop_buntdb_path: "data/shop.db"  
 groupsdb_path: "data/groups.db"  
generate:  
 open_ai_bearer_token: ""  
 dalle_key: ""  
 dalle_price: 1000  
 worker: 0
nostr:  
 private_key: "YOUR_NOSTR_HEX_PRIVKEY"
pos:
 currency: "EUR"
 max_balance: 1000000
breez:
  enabled: true  # Set to true when you want to enable Breez
  api_key: "XXXX"
  working_dir: "data/breez"
  network: "mainnet"
limits:
  lnbits_max_balance: 50000
  auto_swap_threshold: 60000

